<div class="table">
  <table class="table1">
    <tr>
      <th>基本資料</th>
    </tr>
    <tr>
      <td>
        <div class="container">
          <div class="form-item">
            <div class="form-column">
              <label>姓名</label>
              <input type="text" />
              <div class="error-message">請輸入姓名</div>
            </div>
          </div>
          <div class="form-item">
            <div class="form-column">
              <label>地址</label>
              <input type="text" />
              <div class="error-message">請輸入地址</div>
            </div>
          </div>
          <div class="form-item">
            <div class="form-column">
              <label>電話</label>
              <input type="text" />
              <div class="error-message">請輸入電話</div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <table class="table2">
    <tr>
      <th>基本資料</th>
    </tr>
    <tr>
      <td></td>
    </tr>
  </table>
</div>
