:host {
  display: block;
}

.container {
  width: 500px;
  margin: 10px auto;
}

.form-item {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
}

.form-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-column > label,
.form-column > div {
  flex-basis: 150px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.form-column > input {
  flex-grow: 1;
  padding: 5px 10px;
  font-size: 20px;
}

.error-message {
  color: red;
}

.table1 {
  border-collapse: collapse;
  border: 2px solid rgb(0 0 0);
  margin-left: 1%;
  margin-right: auto;
  margin-top: 1%;
}
.table2 {
  border: 2px solid rgb(0 0 0);
  border-collapse: collapse;
  margin-right: 1%;
  margin-left: auto;
  width: 50%;
  margin-top: 1%;
}

th {
  font-size: 20px;
  display: block;
}

td {
  border: 2px solid rgb(0 0 0);
  padding: 8px 10px;
}

.table {
  display: flex;
}
