.container {
  flex-direction: column;
}

.table {
  display: flex;
  justify-content: space-between; /* 將表格分布在左右兩側 */
  margin: 20px;
  margin-bottom: 20px; /* 給表格和按鈕之間留一些空間 */
}

.form-item {
  align-items: center;
  margin-bottom: 10px;
}

.form-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-column > label,
.form-column > div {
  flex-basis: 150px;
  text-align: center;
  font-size: 18px;
  margin: 5px;
}

.form-column > input {
  flex-grow: 1;
  padding: 5px 10px;
  font-size: 20px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-left: 10px;
}

.table1,
.table2 {
  border: 2px solid rgb(0, 0, 0);
  border-collapse: collapse;
  width: 45%; /* 設置表格的寬度 */
}

.table1 {
  margin-right: auto; /* 確保 table1 靠左 */
}
.table2 {
  margin-left: auto; /* 確保 table2 靠右 */
}

th {
  font-size: 20px;
}

td {
  border: 2px solid rgb(0 0 0);
  padding: 8px 10px;
}

button.send {
  display: block;
  margin: 0 auto; /* 使按鈕居中 */
  padding: 10px 20px;
  font-size: 16px;
}

button.send:disabled {
  border: 1px solid #ccc;
  color: #999;
  cursor: not-allowed;
}

.table2 .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.table2 .item .id,
.table2 .item .name,
.table2 .item .count,
.table2 .item .price,
.table2 .item .delete {
  margin-right: 10px; /* 可以根據需要調整間距 */
}

.table2 .item .count input {
  width: 60px; /* 可以根據需要調整輸入框的寬度 */
}

.table2 .item .delete button {
  background-color: white;
  color: red;
  border: 1px solid red;
  padding: 5px 10px;
  cursor: pointer;
}
